# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col=[0])

# Display sample data
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Nikolskoye,RU,59.7035,30.7861,44.80,96,79,3.06,light rain
1,Puerto Ayora,EC,-0.7393,-90.3518,66.54,94,27,5.99,scattered clouds
2,Mahebourg,MU,-20.4081,57.7000,68.29,83,40,4.61,scattered clouds
3,Ushuaia,AR,-54.8000,-68.3000,44.26,87,75,11.50,moderate rain
4,Eyl,SO,7.9803,49.8164,76.10,83,35,11.18,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature for your vacation? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature for your vacation? "))

What is the minimum temperature for your vacation? 60
What is the maximum temperature for your vacation? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & 
                                       (city_data_df['Max Temp'] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Puerto Ayora,EC,-0.7393,-90.3518,66.54,94,27,5.99,scattered clouds
2,Mahebourg,MU,-20.4081,57.7000,68.29,83,40,4.61,scattered clouds
4,Eyl,SO,7.9803,49.8164,76.10,83,35,11.18,scattered clouds
5,Iracoubo,GF,5.4802,-53.2011,79.41,81,9,10.67,clear sky
6,Cuamba,MZ,-14.8031,36.5372,68.86,33,8,3.62,clear sky

In [7]:
preferred_cities_df.count()

City                   286
Country                284
Lat                    286
Lng                    286
Max Temp               286
Humidity               286
Cloudiness             286
Wind Speed             286
Current Description    286
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(axis=0, how='any')

# Display sample data
clean_travel_cities.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Puerto Ayora,EC,-0.7393,-90.3518,66.54,94,27,5.99,scattered clouds
2,Mahebourg,MU,-20.4081,57.7000,68.29,83,40,4.61,scattered clouds
4,Eyl,SO,7.9803,49.8164,76.10,83,35,11.18,scattered clouds
5,Iracoubo,GF,5.4802,-53.2011,79.41,81,9,10.67,clear sky
6,Cuamba,MZ,-14.8031,36.5372,68.86,33,8,3.62,clear sky

In [10]:
clean_travel_cities.count()

City                   284
Country                284
Lat                    284
Lng                    284
Max Temp               284
Humidity               284
Cloudiness             284
Wind Speed             284
Current Description    284
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat      Lng
1  Puerto Ayora      EC     66.54    scattered clouds  -0.7393 -90.3518
2     Mahebourg      MU     68.29    scattered clouds -20.4081  57.7000
4           Eyl      SO     76.10    scattered clouds   7.9803  49.8164
5      Iracoubo      GF     79.41           clear sky   5.4802 -53.2011
6        Cuamba      MZ     68.86           clear sky -14.8031  36.5372

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,66.54,scattered clouds,-0.7393,-90.3518,
2,Mahebourg,MU,68.29,scattered clouds,-20.4081,57.7000,
4,Eyl,SO,76.10,scattered clouds,7.9803,49.8164,
5,Iracoubo,GF,79.41,clear sky,5.4802,-53.2011,
6,Cuamba,MZ,68.86,clear sky,-14.8031,36.5372,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [15]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Display sample data
hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,66.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Mahebourg,MU,68.29,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Eyl,SO,76.10,scattered clouds,7.9803,49.8164,EYL AQUE SYSTEM
5,Iracoubo,GF,79.41,clear sky,5.4802,-53.2011,Le Gîte d’Iracoubo
6,Cuamba,MZ,68.86,clear sky,-14.8031,36.5372,Hotel Vision
10,Monte San Giovanni Campano,IT,60.58,clear sky,41.6406,13.5137,Villa del Colle
12,Cayenne,GF,78.84,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
13,Fukue,JP,73.76,scattered clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
14,Atuona,PF,77.09,broken clouds,-9.8000,-139.0333,Villa Enata
19,Pemangkat,ID,77.86,overcast clouds,1.1667,108.9667,Hotel Duyung Permai 2
20,Kalabo,ZM,69.40,clear sky,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
22,Port Alfred,ZA,60.19,clear sky,-33.5906,26.8910,The Halyards Hotel
24,Akyab,MM,78.44,overcast clouds,20.1500,92.9000,ဟိုတယ် မန်မိုရီ
25,Katsuura,JP,75.22,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
26,Bambous Virieux,MU,68.25,scattered clouds,-20.3428,57.7575,Casa Tia Villa
27,Lagoa,PT,67.48,overcast clouds,39.0500,-27.9833,Casa Das Faias
31,Saint-Philippe,RE,67.59,scattered clouds,-21.3585,55.7679,Le four à pain
34,Machaneng,BW,75.16,clear sky,-23.1862,27.4886,BushBabies
41,Grand Gaube,MU,68.40,overcast clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
43,Rikitea,PF,70.56,broken clouds,-23.1203,-134.9692,People ThankYou
45,Powell River,CA,67.64,smoke,49.8496,-124.5361,Rodmay Hotel
47,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
48,Margate,GB,62.91,overcast clouds,51.3813,1.3862,Premier Inn Margate hotel
52,Vila Velha,BR,73.35,moderate rain,-20.3297,-40.2925,Hotel Vitória Palace
55,Karratha,AU,77.13,clear sky,-20.7377,116.8463,ibis Styles Karratha
59,Matongo,TZ,70.30,overcast clouds,-2.3833,34.0833,
61,Farmington,US,68.77,clear sky,36.7281,-108.2187,Courtyard by Marriott Farmington
62,Bengkulu,ID,76.71,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
63,San Cristobal,VE,75.38,overcast clouds,7.7669,-72.2250,Pirineos
64,Salamanca,ES,65.62,clear sky,40.8333,-6.0000,Palacio Carrascalino

In [17]:
# The values are empty strings, not nan, so Pandas reads them as if there is an entry
hotel_df.count()

City                   284
Country                284
Max Temp               284
Current Description    284
Lat                    284
Lng                    284
Hotel Name             284
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [33]:
# Drop the rows where there is no Hotel Name. Because the values aren't nan, we can't just use dropna
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != ''].copy()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,66.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Mahebourg,MU,68.29,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Eyl,SO,76.10,scattered clouds,7.9803,49.8164,EYL AQUE SYSTEM
5,Iracoubo,GF,79.41,clear sky,5.4802,-53.2011,Le Gîte d’Iracoubo
6,Cuamba,MZ,68.86,clear sky,-14.8031,36.5372,Hotel Vision

In [34]:
clean_hotel_df.count()

City                   269
Country                269
Max Temp               269
Current Description    269
Lat                    269
Lng                    269
Hotel Name             269
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [35]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [4]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [5]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 66.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 68.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>EYL AQUE SYSTEM</dd>\n<dt>City</dt><dd>Eyl</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Gîte d’Iracoubo</dd>\n<dt>City</dt><dd>Iracoubo</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vision</dd>\n<dt>City</dt><dd>Cuamba</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa del Colle</dd>\n<dt>City</dt><dd>Monte San Giovanni Campano</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Current Weather</dt><dd>clear sky and 60.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Goto Guesthouse Utojuku & SA Car Rental</dd>\n<dt>City</dt><dd>Fukue</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Duyung Permai 2</dd>\n<dt>City</dt><dd>Pemangkat</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.86 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [6]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0  -0.7393  -90.3518
1 -20.4081   57.7000
2   7.9803   49.8164
3   5.4802  -53.2011
4 -14.8031   36.5372
5  41.6406   13.5137
6   4.9333  -52.3333
7  32.6881  128.8419
8  -9.8000 -139.0333
9   1.1667  108.9667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [7]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))